/* Custom CSS for Emotion Detection Interface */

/* styles.css */
body {
    background-image: url('https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    max-width: 600px; /* Adjust container width as needed */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value (0.0 to 1.0) for transparency */
}


h1 {
    font-size: 28px;
    color: #333; /* Dark gray text color */
}

label {
    font-weight: bold;
    color: #333;
}

textarea.form-control {
    resize: none; /* Disable textarea resizing */
}

.btn-primary {
    background-color: #007bff; /* Primary button color */
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.text-center {
    text-align: center;
}

/* Emotion detection result styling */
#system_response {
    font-size: 18px;
    font-weight: bold;
    color: #28a745; /* Green text for positive results */
}
